*.iml
*.ipr
*.iws
*.ids
*.pyc
*.rdb
target/
grunt-target/
*/target/
logs/
*/logs/
*.log.*
*.log
*.classpath
Prosjektstrukturfiler
*.tmp*
.*.swp
.idea
.DS_Store
atlassian-ide-plugin.*
activemq-data/
*/activemq-data/
release.properties
*/release.properties
pom.xml.releaseBackup
*/pom.xml.releaseBackup
tmp/
node_modules
overlays
.classpath
.project
.settings/
*.bin
compiled-templates.js
maven-eclipse.xml
.externalToolBuilders
applications/ott/src/test/casperjs/ott/*.png
fabfile.pyc
.gradle
build/
!gradle-wrapper.jar
.gradle/
classes/
out
src/main/webapp/public